<style type="text/css">

</style>

{% block javascripts_head %}
    <script src="{{ asset('bundles/component/js/Components/alert.js') }}"></script>
{% endblock %}

<div id="alert" class="alert alert-danger"></div>

<script id='alert_tpl' type='text/x-handlebars-template'>
    <p>
    {% verbatim %}
        {{message}}
    {% endverbatim %}
    </p>
</script>