<!-- Blog Categories Well -->
<script>
    $(document).ready(function() {
        var template,
            ajaxHandler = ajaxManager();
        var init = function (done, error) {
            if (!$.isFunction(done)) {
                done = function (resolvedData) {
                    var source = $('#news').html();
                    if (!template) {
                        template = Handlebars.compile(source);
                    }
                    if ($.isPlainObject(resolvedData)
                        && 'news' in resolvedData
                    ) {
                        $('#main_news').append(template(resolvedData));
                    }
                    if (resolvedData.count >= resolvedData.total) {
                        $('#more').hide();
                    }
                    offsetHandler.setOffset(data.count);
                };
            }
            if (!$.isFunction(error)) {
                error = function (jqXHR, textStatus) {
                    $('#error').html('Error from server with status ' + textStatus);
                };
            }
            ajaxHandler.init({{ ajax_url }}, {{ format }}, done, error);

            return {
                process: function(processData) {
                    ajaxHandler.send(processData);
                }
            }
        };

        init().process(offsetHandler.getOffset());

        $('#more').click(
            function () {
                var count = offsetHandler.getOffset();
                init().process({offset : count})
            }
        );
    });
</script>

<div class="well">
    <h4>Blog Categories</h4>
    <div class="row">
        <div class="col-lg-12">
            <ul class="list-unstyled">
            {% verbatim %}
                {{#categories}}
                    <li><a href="{{ url }}">{{ name }}</a></li>
                {{/categories}}
            {% endverbatim %}
            </ul>
        </div>
    </div>
    <!-- /.row -->
</div>