<style type="text/css">
    a:hover {
        cursor:pointer;
    }
</style>
<script>
    $(document).ready(function() {
        var categories = function () {},
            ajaxChannel;

        categories.init = function (done, error) {
            var template,
                ajaxHandler = ajaxManager();

            if (!$.isFunction(done)) {
                done = function (resolvedData) {
                    var source = $('#categories').html();

                    if (!template) {
                        template = Handlebars.compile(source);
                    }
                    if ($.isPlainObject(resolvedData)
                        && 'data' in resolvedData
                    ) {
                        $('#categories_list').append(template({
                            categories: resolvedData.data
                        }));
                    }

                    $('.category_link').on('click', function(e) {
                        var slug = $(this).data('slug');
                        $(document).trigger('categoryClickDocument', {category_slug: slug});
                    });
                };
            }
            if (!$.isFunction(error)) {
                error = function (jqXHR, textStatus) {
                    $('#alert').html('Error from server with status ' + textStatus);
                };
            }
            ajaxHandler.init('{{ ajax_url }}', '{{ format }}', done, error);

            return {
                process: function(processData) {
                    ajaxHandler.getParameterHandler().addParameters(processData);

                    if (!ajaxHandler.send()) {
                        $('#alert').html('Somethig wrong').show();
                    }
                }
            }
        };

        ajaxChannel = categories.init();

        ajaxChannel.process();
    });
</script>

<div id="test" class='well'>
    <h4>Blog Categories</h4>
    <div class='row'>
        <div class='col-lg-12'>
            <ul id='categories_list' class='list-unstyled'></ul>
        </div>
    </div>
</div>

<script id='categories' type='text/x-handlebars-template'>
    {% verbatim %}
        {{#categories}}
            <li><a class='category_link' data-slug='{{ slug }}'>{{ name }}</a></li>
        {{/categories}}
    {% endverbatim %}
</script>