<script>
    $(document).ready(function() {
        var categories = function () {};

        categories.init = function (done, error) {
            var template,
                ajaxHandler = ajaxManager();

            if (!$.isFunction(done)) {
                done = function (resolvedData) {
                    var source = $('#categories').html();
                    if (!template) {
                        template = Handlebars.compile(source);
                    }
                    if ($.isPlainObject(resolvedData)
                        && 'data' in resolvedData
                    ) {
                        $('#categories_list').append(template({
                            categories: resolvedData.data
                        }));
                    }
                };
            }
            if (!$.isFunction(error)) {
                error = function (jqXHR, textStatus) {
                    $('#alert').html('Error from server with status ' + textStatus);
                };
            }
            ajaxHandler.init('{{ ajax_url }}', '{{ format }}', done, error);

            return {
                process: function(processData) {
                    ajaxHandler.send(processData);
                }
            }
        };

        categories.init().process();
    });
</script>

<div class="well">
    <h4>Blog Categories</h4>
    <div class="row">
        <div class="col-lg-12">
            <ul id="categories_list" class="list-unstyled"></ul>
        </div>
    </div>
</div>

<script id='categories' type='text/x-handlebars-template'>
    {% verbatim %}
        {{#categories}}
            <li><a href="{{ url }}">{{ name }}</a></li>
        {{/categories}}
    {% endverbatim %}
</script>